/*Colour codes: #c5d5cb, #9fa8a3, #e3e0cf*/
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

#red {
    color: red;
}

h1 {
    font-weight: 600;
}

.navbar1 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: white;
    color: black;
}

.navbar1 h2 {
    margin-left: 10px;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: black;
    padding: 1rem;
    display: block;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 31px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 600px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar1 {
        flex-direction: column;
        align-items: flex-start;

    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;

    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1
    }

    .navbar-links:active {
        display: flex;
    }
}

.introduction {
    display: block;
    height: 700px;


    background-image: url(https://images.unsplash.com/photo-1602928321679-560bb453f190?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=934&q=80);

    background-size: contain;
    background-size: cover;

    background-repeat: no-repeat;
    background-color: #e3e0cf;
}

.introduction h1 {
    text-align: center;
    vertical-align: middle;
    line-height: 700px;
    font-size: 4.5em;
    color: white;
    text-shadow: 1px 1px black;

    -webkit-animation: fadein 2s;

}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#textWall {
    height: 400px;
    background-color: white;
    position: relative;

}

#textWall h1 {
    text-align: center;
    padding-top: 50px;

}

#textWall p {
    padding-left: 100px;
    padding-right: 100px;
    text-align: center;
}

#textWall button {
    padding: 20px;
    background-color: red;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
}

#textWall button:hover {
    padding: 20px;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    transition: 0.5s;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 65%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#textWithPic1 {
    background-image: url(https://images.unsplash.com/photo-1635627026254-b652e62d1d07?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-size: contain;
    background-size: cover;

    background-repeat: no-repeat;
    height: 700px;

}

#textWithPic1 h1 {
    text-align: center;
    padding-top: 200px;
    color: white;
    font-size: 3.5em;
    text-shadow: 2px 2px black;
}

#textWithPic1 p {
    color: white;
    margin-left: 30px;
    font-size: 20px;
    text-shadow: 1px 1px black;
    font-weight: 600;
}

#textWithPic1 button {
    padding: 20px;
    background-color: red;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
}

#textWithPic1 button:hover {
    padding: 20px;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    transition: 0.5s;
}

#blackbackground {
    position: relative;
}

#blackbackground2 {
    height: 100px;
    background-color: black;
    position:
}

.vertical-center2 {
    margin: 0;
    position: absolute;
    top: 145%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.round {
    border: solid white;
    border-width: 10px;
    border-radius: 10%;
    height: 200px;
}

#icons {
    display: flex;
    flex-wrap: wrap;
    padding: 100px;
    align-items: center;
    justify-content: center;
}

.column {
    flex: 50%;
    padding: 0 4px;

}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

footer {
    column-count: 3;
}
